// @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.main-container {
    display: flex;
    flex-direction: column; /* Ensures horizontal alignment */
    min-height: 100vh;
}

.heading-container {
    position: fixed;  /* Stays fixed at a position */
    top: 0%;  
    left: 17%;
    transform: translate(-50%, 0); /* Corrected transform */
    color: white; 
    font-size: 2rem;  
    text-align: center;
    z-index: 10; /* Ensures it stays above everything */
    // background: rgba(0, 0, 0, 0.5); /* Optional: Adds a background for better readability */
    padding: 10px; /* Adds some space around text */
}

