@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.header-main-container {
  font-family: 'Rubik Mono One', sans-serif; /* Apply font */
  padding :20px;
  border-bottom: 1px;
//   background-color: #3e3e3e;
  padding-left: 50px;
//    font-weight:bolder;
}

.navbar {
    display: flex; /* Makes items align in a row */
    justify-content: right;
    align-items:center;
    gap: 40px;
    // background-color: #3e3e3e;
    padding: 10px 0;
    width: 100%;
  }

  .navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    // font-weight: bold;
  }
  