.card-container {
    max-width: 50%;
    margin: auto;
    position: relative;
    overflow: visible;
    margin-left: 40vw; // Adjust based on sidebar width

    @media (max-width: 1024px) {
        margin-left: 40vw; // Adjust for tablets
    }

    @media (max-width: 768px) {
        margin-left: 60vw; // Adjust for smaller screens
    }

    @media (max-width: 480px) {
        margin-left: 0; // No margin on small screens
    }
}

  
  .swiper-container {
    width: 80%;
    overflow: visible;
    position: relative;
  }

  // Customizing Swiper navigation buttons
.swiper-button-prev,
.swiper-button-next {
    color: white !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 30px !important;
    height: 30px !important;
    z-index: 10 !important; // Ensure arrows stay on top
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 0.8);

    &::after {
        font-size: 16px !important; // Reduce arrow size
      }
  }

// Positioning arrows outside the content box
.swiper-button-prev {
    left: -50px; // Move left arrow outside
  }
  
  .swiper-button-next {
    right: -50px; // Move right arrow outside
  }
  
  .single-card {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    // max-width: 100%;
  }
  
  .role-container {
    // border: 2px solid white;
    padding: 20px;
    // background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    text-align: center;
    color: white;
  
    h2 {
      font-size: 40px;
      margin-bottom: 10px;
    }
  
    .project {
      margin-top: 2px;
      font-weight: bold;
      margin-left: 5px;
    }
  
    .description {
      margin-top: 10px;
    }
  }
  
  .skills-section {
    text-align: center;
    margin-top: 40px;
    h2{
      color: white;
    }
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .skill {
    background: #282c34;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    // font-weight: bold;
    transition: box-shadow 0.3s ease-in-out;
  
    &:hover {
      box-shadow: 0px 0px 10px rgba(1, 13, 184, 0.551); // Faint blue glow
    }
  }
  