.main-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 30vw; // Reduced width
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    position: fixed; // Keeps it fixed on the left side
    left: 0;
    top: 0;

    @media (max-width: 1024px) {
        width: 40vw; // Slightly wider for tablets
    }

    @media (max-width: 768px) {
        width: 60vw; // More space for smaller screens
        height: auto;
        padding: 15px;
    }

    @media (max-width: 480px) {
        width: 100%; // Full width for very small screens
        position: relative;
    }
}

.name-container {
    color: white;
    text-align: center;
    max-width: 80%;
    font-weight: bold;

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    p {
        margin: 5px 0;
        font-size: 1.2rem;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    .bio {
        font-size: 0.7rem;
        line-height: 1.5;
        margin-top: 10px;
        font-weight: normal; /* Ensure it's not bold */
    
        @media (max-width: 768px) {
            font-size: 0.6rem;
        }
    }
    
}

.self-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; /* Aligns the image to the bottom */
    flex-grow: 1; /* Pushes the image to the bottom */
    width: 100%;

    img {
        width: 300px;
        top: 0%;
        height: 300px;
        object-fit: cover; /* Ensures the image is properly displayed */
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}


